body {
  background-color: rgb(204, 203, 201);
  text-align: center;
  align-content: center;
}

/* uhh i would really like to center my table */

table, li{
  border: 1px solid black;
}


.complete {
  background-color: chartreuse;
}